<%- include partials/header.ejs %>
<h1>Compose</h1>
<form action="/compose" method="post">
<input type="text" name="userInput" id="newText"/>
<br>
<h1>Title</h1>
<textarea name="multiText" id="" rows="4" cols="150"></textarea>
<button type="submit">Submit</button>
</form>


  
<%- include partials/footer.ejs %>
